{% extends 'base/formulario.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de surtido</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body class="body">

  <div class=" table-container container-center mt-5">

    <table id="example" class="table-rwd" style="width: 90%">

      <thead>
        <h1>SURTIDO</h1>

        {% if perms.datos.add_registro %}
        <h6><a class="nav-link text-danger" href="{% url 'registarDatos' %}">Pulse para 'AGREGAR'</a></h6>
        {% endif %}
     
        <tr>
          <th scope="col"><a class="text-light" href="{% url 'reporteRegistro' %}">ID</a></th>
          <th scope="col"><a class="text-light" href="{% url 'corrales' %}">CORRAL</a></th>
          <th scope="col"><a class="text-light" href="{% url 'clientes' %}">ASIGNAR A:</a></th>
          <th scope="col"><a class="text-light" href="{% url 'productos' %}">PRODUCTOS</a></th>
          <th scope="col">CANTIDAD</th>
          <th scope="col">FECHA</th>
          <!-- <th scope="col">STATUS</th> -->
          <!-- {% if perms.datos.add_registro %}{% endif %} -->
          <th scope="col">STATUS</th>
          

          {% if perms.datos.delete_registro %}
          <th scope="col">ELIMINAR</a></th>
          {% endif %}

        </tr>
      </thead>

      <tbody>
        {% for registro in registros %}
        <tr>
          <th scope="row">{{ registro.id }}</th>
          <td>{{ registro.corral }}</td>
          <td>{{ registro.cliente }}</td>
          <td>{{ registro.producto }}</td>
          <td>{{ registro.cantidad }}</td>
          <td>{{ registro.fecha}}</td>
          <!-- <td>{{ registro.estado}}</td> -->
          <!-- {% if perms.datos.add_registro %} -->
          <td><a class="text-dark" href="{% url 'editar' registro.id %}">{{ registro.estado}}</a></td>  

          <!-- <td>{{ registro.estado}}</td>   -->
          {% endif %}

          {% if perms.datos.delete_registro %}
          <td><a class="text-danger" href="{% url 'eliminarRegistro' registro.id%}">Eliminar</a></td>
          {% endif %}
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>



  <button id="btn1">clon</button>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>

  <script>

    let temp = $("#btn1").clone();
    $("#btn1").click(function () {
      $("#btn1").after(temp);
    });

    $(document).ready(function () {
      var table = $('#example').DataTable({
        orderCellsTop: true,
        fixedHeader: true
      });

      //Creamos una fila en el head de la tabla y lo clonamos para cada columna
      $('#example thead tr').clone(false).appendTo('#example thead');

      $('#example thead tr:eq(1) th').each(function (i) {
        var title = $(this).text(); //es el nombre de la columna
        $(this).html('<input id="texto2" type="text" placeholder="Search...' + title + '" />');

        $('input', this).on('keyup change', function () {
          if (table.column(i).search() !== this.value) {
            table
              .column(i)
              .search(this.value)
              .draw();
          }
        });
      });
    });
  </script>
</body>

</html>

{% endblock %}

<!-- <td><a class="btn btn-danger" href="{% url 'eliminarRegistro' registro.id%}">Eliminar</a></td>    -->
<!-- <th scope="col">Editar</th> -->
<!-- <td><a class="btn btn-warning" href="{% url 'editar' registro.id %}">Editar</a></td>   -->