{% extends 'base/formulario.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">  -->
  <link rel="" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  <script src="http://code.jquery.com/jquery-1.0.4.js"></script>

  <script>
    $(document).ready(function () {
      $("#corral1").keyup(function () {
        var value = $(this).val();
        $("#corral2").val(value);
        var value = $(this).val();
        $("#corral3").val(value);
        var value = $(this).val();
        $("#corral4").val(value);
        var value = $(this).val();
        $("#corral5").val(value);
      });
    });
    $(document).ready(function () {
      $("#producto1").keyup(function () {
        var value = $(this).val();
        $("#producto2").val(value);

      });
    });

    // Catch all events related to changes
    $("#number").on("change keyup", function () {
      // Remove invalid characters
      var sanitized = $(this).val().replace(/[^0-9]/g, "");
      // Update value
      $(this).val(sanitized);
    });
  </script>

  <style>
    h2 {
      text-align: center;
      color: #000;

    }
  </style>
  <link rel="stylesheet" href="{% static 'admin/css/vendor/select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/autocomplete.css' %}">

</head>

<body>
  <!-- botones con permisos asignados a cierto tipo de clientes  -->
  {% if perms.datos.add_registro %}
  <ul class="nav justify-content-center">

    <!-- Mostrar si hubo un error al intentar guardar el formularuo -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      Error, no se pudo registrar
    </div>
    {% endif %}

    <form action="{% url 'guardarRegistro' %}" method="POST" class="container mt-5">
      {% csrf_token %}
      <h2><a class="nav-link text-dark" href="{% url 'registarDatos' %}">SOLICITUD SURTIDO</a></h2>

      {% if mensaje %}
      <div class="alert alert-success" role="alert">
        Se ha registrado exitosamente
      </div>
      {% endif %}

      <p></p>

      <div class="col">
        <div class="row">
          <div class="col">
            <h6>id_CORRAL</h6>
            <input class="form-control " maxlength="3" id="corral1" list="datalistOptions"
              placeholder="Buscar corral..." name="corral" autocomplete="off" required>
            <datalist id="datalistOptions">
              {% for Corral in Corrals %}
              <option value='{{ Corral.id }}    {{ Corral.corral }}'>
                {% endfor %}
            </datalist>
          </div>

          {{ corral|truncatechars:03 }}

          <div class="col">
            <h6>id_PRODUCTO</h6>
            <input class="form-control" maxlength="3" id="producto1" list="datalistOptions3"
              placeholder="Buscar producto..." name="producto" autocomplete="off" required>
            <datalist id="datalistOptions3">
              {% for Producto in productos %}
              <option value="{{ Producto.id }}   {{ Producto.producto }}">
                {% endfor %}
            </datalist>
          </div>
        </div>
      </div>
      {{ producto|truncatechars:03 }}
      <p></p>

      <div class="container">
        <div class="row">
          <div class="col">
            <h6>(Corral_Cliente)</h6>
            <div class="input-group">
              <input class="form-control " id="corral3" list="datalistOptions2" placeholder="Buscar Cliente..."
                autocomplete="off" required>
              <datalist id="datalistOptions2">
                {% for Corral in Corrals %}
                <option value='{{ Corral.id }}   {{ Corral.corral }}   {{ Corral.cliente }}'>
                  {% endfor %}
              </datalist>
            </div>
          </div>
          <div class="col">
            <h6>(Producto)</h6>
            <input class="form-control" id="producto2" list="datalistOptions5" placeholder="Buscar producto..."
              autocomplete="off" required>
            <datalist id="datalistOptions5">
              {% for Producto in productos %}
              <option value="{{ Producto.id }}   {{ Producto.producto }}">
                {% endfor %}
            </datalist>
          </div>
        </div>
      </div>
      </div>

      <div class="col">
        <input type="hidden" class="form-control " id="corral4" list="datalistOptions4" placeholder="Buscar corral..."
          name="cliente" autocomplete="off" required>
        <datalist id="datalistOptions4">
          {% for Cliente_corral in Clientes_corral %}
          <option value='{{ Cliente_corral.id }}'> {{ Cliente_corral.cliente }}
            {% endfor %}
        </datalist>
      </div>

      <p></p>

      <div class="col">
        <div class="row">
          <div class="col">
            <h6>CANTIDAD</h6>
            <input type="number" min="0" id="corral5" class="form-control" placeholder="cantidad" name="cantidad"
              required>
          </div>

        </div>
      </div>
      </div>


      <p></p>

      <input type="hidden" class="form-control" placeholder="fecha" name="fecha">
      <input type="hidden" class="form-control" value="Pendiente" name="estado">


      <P></P>

      <div class="col">
        <button type="submit" class="btn btn-info">Guardar</button></a>
        <a href="{% url 'inicio' %}"><button type="button" class="btn btn-danger">Cancelar</button></a>
      </div>
    </form>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/autocomplete.js' %}"></script>
</body>

<P></P>

<!-- Si el usuario no tiene permiso para agregar registros, va a ver este Mensaje -->
{% else %}

<style>
  h1 {
    margin-top: 50px;
    text-align: center;
  }

  h5 {
    margin-top: 10px;
    text-align: center;
  }

  h6 {
    text-align: center;

  }
</style>

<H1>NO ESTAS AUTORIZADO PARA AGREGAR REGISTRO</H1>
<H5>PONGASE EN CONTACTO CON EL ADMIN PARA DESBLOQUEAR ACCESO </H5>
<h6><a class="nav-link  text-danger" href="{% url 'lista' %}">Toque para volver</a></h6>

{% endif %}

<P>Tabla de contenido</P>
{% if perms.datos.view_materia_prima%}

<body class="body">

  <div class=" table-container">
    <table id="example" class="table-rwd" style="width: 50%">
      <thead>
        <tr>
          <th scope="col"><a class="text-light" href="{% url 'lista' %}">ID</a></th>
          <th scope="col"><a class="text-light" href="{% url 'corrales' %}">CORRAL</a></th>
          <th scope="col"><a class="text-light" href="{% url 'clientes' %}">ASIGNAR A:</a></th>
          <th scope="col"><a class="text-light" href="{% url 'productos' %}">PRODUCTOS</a></th>
          <th scope="col">CANTIDAD</th>
          <th scope="col">FECHA</th>
          <!-- <th scope="col">STATUS</th> -->
          <!-- {% if perms.datos.add_registro %}{% endif %} -->
          <th scope="col">STATUS</th>


          {% if perms.datos.delete_registro %}
          <th scope="col">ELIMINAR</a></th>
          {% endif %}

        </tr>
      </thead>

      <tbody>
        {% for registro in registros %}
        <tr>
          <th scope="row">{{ registro.id }}</th>
          <td>{{ registro.corral }}</td>
          <td>{{ registro.cliente }}</td>
          <td>{{ registro.producto }}</td>
          <td>{{ registro.cantidad }}</td>
          <td>{{ registro.fecha}}</td>
          <!-- <td>{{ registro.estado}}</td> -->
          <!-- {% if perms.datos.add_registro %} -->
          <td><a class="text-dark" href="{% url 'editar' registro.id %}">{{ registro.estado}}</a></td>

          <!-- <td>{{ registro.estado}}</td>   -->
          {% endif %}

          {% if perms.datos.delete_registro %}
          <td><a class="text-danger" href="{% url 'eliminarRegistro' registro.id%}">Eliminar</a></td>
          {% endif %}
        </tr>


        {% endfor %}
      </tbody>

    </table>
  </div>


  <!-- 
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script> -->

  <script>
    let temp = $("#btn1").clone();
    $("#btn1").click(function () {
      $("#btn1").after(temp);
    });

    $(document).ready(function () {
      var table = $('#example').DataTable({
        orderCellsTop: true,
        fixedHeader: true
      });

      //Creamos una fila en el head de la tabla y lo clonamos para cada columna
      $('#example thead tr').clone(false).appendTo('#example thead');

      $('#example thead tr:eq(1) th').each(function (i) {
        var title = $(this).text(); //es el nombre de la columna
        $(this).html('<input type="text" placeholder="Search...' + title + '" />');

        $('input', this).on('keyup change', function () {
          if (table.column(i).search() !== this.value) {
            table
              .column(i)
              .search(this.value)
              .draw();
          }
        });
      });
    });
  </script>
</body>
{% else %}
<style>
  h1 {
    margin-top: 50px;
    text-align: center;
  }

  h5 {
    margin-top: 10px;
    text-align: center;
  }

  h6 {
    text-align: center;
  }
</style>

<H1>NO ESTAS AUTORIZADO PARA VER DATOS DE OPERADOR</H1>
<H5>PONGASE EN CONTACTO CON EL ADMIN PARA DESBLOQUEAR ACCESO </H5>
<h6><a class="nav-link  text-danger" href="{% url 'inicio' %}">Toque para volver</a></h6>
{% endif %}

{% endblock %}